* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #062653;
  overflow-x: hidden;
}

a,
button,
input {
  font-family: inherit;
}

img {
  max-width: 100%;
}

::selection {
  background: #08b8c4;
  color: #ffffff;
}

@media (max-width: 900px) {
  body {
    padding-bottom: 95px;
  }
}